@model EEIMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to bottom right, #87CEEB, #B0E0E6);
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-end align-items-center vh-100">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-primary text-end fw-bold" style="font-family: 'Nunito', sans-serif; font-size: 3rem;">Welcome</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-primary text-end fw-bold" style="font-family: 'Nunito', sans-serif; font-size: 2rem;">To the Invia Store</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="card o-hidden border-0 shadow-lg">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <input type="submit" value="Register" class="btn btn-outline-dark btn-block" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
