@model IEnumerable<EEIMS.Models.EmployeeRoleViewModel>


@{
    ViewBag.Title = "GetAdminUsers";
}

<h2>Admin Users</h2>

<div class="container">
    <div class="table-responsive">
        <table class="table  table-hover" id="adminRoleTbl">
            <thead class="table-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.EmployeeId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th scope="col">Permission</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.EmployeeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.ActionLink("Revoke", "RevokeRoles", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


