@model EEIMS.Models.CreateNewGetViewModel

@{
    ViewBag.Title = "AddNewRequest";
}

<div class="container-fluid px-4">
    <h3 class="mt-4">Send Request</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Request</li>
    </ol>

    <div class="text-center">
        <p class="my-font" style="font-size: 35px;">Request Equipment</p>
        <p class="cursive-font mt-1" style="font-size: 20px;">~ Fill Form ~</p>
    </div>

    <div class="container">
        @using (Html.BeginForm("AddNewRequest", "Request", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group mb-3">
                    <label class="form-label col-md-2 fw-bold ">Category ID:</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories, "--Select Category--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label col-md-2 fw-bold">Comment:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", placeholder = "Add Your Comments" } })
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    
<style>
    .my-font {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
</style>
    
